<h1>Empresas</h1>
<% @companies.each do |company| %>
<b>Nome:</b> <%= company.name %><br>
<b>Tamanho:</b> <%= company.size %><br>
<b>Segmentos:</b> <% company.segments.each do |segment| %>
<%= segment.name + "; " %>
<% end %><br>
<b>Perfil:</b> <% company.company_types.each do |type| %>
<%= type.name + "; " %>
<% end %><br>
<b>Capacidades:</b> <% company.competence_institutions.each do |competence_inst| %>
<%= competence_inst.competence.name + "[" + competence_inst.competence.competence_area.name + "]{" + competence_inst.competence_value + "}; " %>
<br>
<% end %><br>

<br><br>
<% end %>

<% if @error != [] %>
<%= @error %>
<% end %><br>
