<section class="SectionBlack">
<section class="SectionList u-fontFamilyLane u-paddingTopMedium">
  <h2 class="u-colorWhite">Listagem das Instituições Cadastradas</h2>
  <div class="Container is-list">
    <div class="List is-register u-colorBackgroundWhite u-paddingBottomSmall u-paddingTopSmall u-marginBottom">
      <div class="List is-item">
        Adicionar empresa:
        <div class="RegisterTitle u-widthMedium u-marginTopLarge u-colorBackgroundGreen" onclick="location.href = '/admin/register?type=company'">
          <div class="BoxTextTitle">
            <span class="u-fontSizeMedium u-marginSmall u-colorWhite">Cadastrar</span>
          </div>
        </div>

        </div>
        <div class="List is-item">
          Adicionar estrutura de pesquisa:
          <div class="RegisterTitle u-widthMedium u-marginTopLarge u-colorBackgroundGreen"  onclick="location.href = '/admin/register?type=research_center'">
            <div class="BoxTextTitle">
              <span class="u-fontSizeMedium u-marginSmall u-colorWhite">Cadastrar</span>
            </div>
          </div>
      </div>
    </div>
    <div class="List is-horizontal u-widthXLarge u-marginBottom">
      <div class="List">
        <div class="TagTitle u-widthMedium u-marginSidesAndBottom u-colorBackgroundGreen">
          <div class="BoxTextTitle">
            <i class="material-icons u-fontSizeMedium u-colorWhite">list</i>
            <span class="u-fontSizeMedium u-marginSmall u-colorWhite">Todas Instituições</span>
          </div>
        </div>
        <div class="TagTitle u-widthMedium u-marginSidesAndBottom u-colorBackgroundGreen js-companies">
          <div class="BoxTextTitle">
            <i class="material-icons u-fontSizeMedium u-colorWhite">work</i>
            <span class="u-fontSizeMedium u-marginSmall u-colorWhite">Empresas</span>
          </div>
        </div>
        <div class="TagTitle u-widthMedium u-marginSidesAndBottom u-colorBackgroundGreen js-researchCenters">
          <div class="BoxTextTitle">
            <i class="material-icons u-fontSizeMedium u-colorWhite">school</i>
            <span class="u-fontSizeMedium u-marginSmall u-colorWhite">Estruturas de Pesquisa</span>
          </div>
        </div>
      </div>
      <div class="u-widthXLarge" id="companies">
        <div class="u-textAlignLeft u-width3of4"><h1>Empresas</h1></div>
        <% @companies.each do |company| %>
        <div class="InstitutionLine">
          <div class="u-textAlignLeft"><%= company.name %></div>
          <div class="u-textAlignRight"><a onclick="confirmDelete(<%= company.id %>, '<%= company.name %>')"><i class="material-icons u-cursorPointer">delete</i></a></div>
        </div>
        <%end%>
      </div>
      <div class="u-widthXLarge " id="research-centers">
        <div class="u-textAlignLeft u-width3of4"><h1>Estruturas de Pesquisa</h1></div>
        <% @research_centers.each do |research_center| %>
        <div class="InstitutionLine">
          <div class="u-textAlignLeft"><%= research_center.name %></div>
          <div class="u-textAlignRight"><a onclick="confirmDelete(<%= research_center.id %>, '<%= research_center.name %>')"><i class="material-icons u-cursorPointer">delete</i></a></div>
        </div>
        <%end%>
      </div>
    </div>
  </div>
</section>
</section>
<script src="/js/institution_list_toggle.js"></script>
