<div class="requiredOne">
  <h2>Segmentos <b class="u-colorRed">*</b> <span class="u-colorRed requiredMessage u-displayNone u-fontSizeXSmall">É necessário o preenchimento de ao menos um segmento</span> </h2>

  <div class="BoxThreeColumns">
    <%@segment.each do |segment|%>
    <p class="u-marginXSmall u-fontSizeSmallMedium">
      <input type="checkbox" class="CheckboxSegment" id='<%="segment_#{segment.id}"%>' name="segment_list[]" value="<%=segment.id%>" <%= (@institution.segments.include?(segment) ? 'checked="checked"' : '') if @institution %>/>
      <label for='<%="segment_#{segment.id}"%>'><%=segment.name%></label>
    </p>
    <%end%>
  </div>
</div>
<div class="requiredOne">
  <h2>Competências <b class="u-colorRed">*</b> <span class="u-colorRed requiredMessage u-displayNone u-fontSizeXSmall">É necessário o preenchimento de ao menos uma competência</span> </h2>
  <div class="CompanyCompetences">
    <% @competence_areas.each do |competence_area| %>
    <li class="Items ItemsRegister CompetenceArea">
      <div><h3><%= competence_area.name %></h3></div>
      <div><i class="material-icons">keyboard_arrow_down</i></div>
    </li>
    <div class="BoxThreeColumns u-colorBackgroundTransparent u-fontSizeSmallMedium CompetenceAreaList u-displayNone">
      <% competence_area.competences.each do |competence| %>
      <p class="u-marginXSmall">
        <input type="checkbox" class="CheckboxCompetence" id='<%="competence_#{competence.id}"%>' name="competence_list[]" value="<%=competence.id%>"  <%= (@institution.competences.include?(competence) ? 'checked="checked"' : '') if @institution %>/>
        <label for='<%="competence_#{competence.id}"%>'><%= competence.name %></label>
      </p>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
