<section class="SectionCards u-marginTopLarge">
  <form class="BoxRegister" action="/admin/register_submit" method="post">

    <div class="LoginHeader">
      <h1 class="u-fontFamilyLato u-fontSizeMedium">Cadastro <%= @is_company ? 'Empresa' : 'Estrutura de Pesquisa' %></h1>
    </div>

    <div class="BoxSteps">
      <a id="buttonTab1" class="Button u-marginSmall u-widthSmall ButtonChangeTab u-colorBackgroundDarkerBlue" onclick="changeRegisterTab('buttonTab1','BoxRegister1')">1</a>
      <a id="buttonTab2" class="Button u-marginSmall u-widthSmall ButtonChangeTab" onclick="changeRegisterTab('buttonTab2','BoxRegister2')">2</a>
      <a id="buttonTab3" class="Button u-marginSmall u-widthSmall ButtonChangeTab" onclick="changeRegisterTab('buttonTab3','BoxRegister3')">3</a>
    </div>
    <input name="institution_type" type="hidden" value="<%= @is_company ? 'company' : 'research_center' %>" />
    <div class="BoxRegisterBody" id="BoxRegister1">
      <%= erb :register_step_1 %>
      <br/>
      <div class="RegisterFooter u-marginSidesAndBottom">
        <button class="Button" type="button" name="button" onclick="changeRegisterTab('buttonTab2','BoxRegister2')">Proximo</button>
      </div>
    </div>

    <div class="BoxRegisterBody u-displayNone" id="BoxRegister2">
      <%= erb :register_step_2 %>
      <br/>
      <div class="RegisterFooter u-marginSidesAndBottom">
        <button class="Button" type="button" name="button" onclick="changeRegisterTab('buttonTab3','BoxRegister3')">Proximo</button>
      </div>
    </div>

    <div class="BoxRegisterBody u-displayNone" id="BoxRegister3">
      <%= erb :register_step_3 %>
      <br/>
      <div class="RegisterFooter u-marginSidesAndBottom">
        <button class="Button" type="submit" name="button">Enviar</button>
      </div>
    </div>
    <i>Campos marcados com um asterisco são obrigatórios</i>
  </form>
</section>
