<div class="RegisterInputs">
  <span> Nome do contato</span>
  <input type="text" name="contact_name" value="<%= @institution.contact.contact_name if @institution and @institution.contact %>">
</div>
<div class="RegisterInputs">
  <span> E-mail do contato<b class="u-colorRed">*</b></span>
  <input type="text" name="contact_email" value="<%= @institution.contact.email if @institution and @institution.contact %>" class="required">
</div>
<div class="RegisterInputs">
  <span> Nome do outro contato</span>
  <input type="text" name="secondary_contact_name" value="<%= @institution.contact.secondary_contact_name if @institution and @institution.contact %>">
</div>
<div class="RegisterInputs">
  <span> E-mail alternativo</span>
  <input type="text" name="secondary_email" value="<%= @institution.contact.secondary_email if @institution and @institution.contact %>">
</div>
<div class="RegisterInputs">
  <span> Telefone</span>
  <input type="text" name="contact_phone" value="<%= @institution.contact.phone if @institution and @institution.contact %>">
</div>
<div class="RegisterInputs">
  <span> Site</span>
  <input type="text" name="contact_site" value="<%= @institution.contact.site if @institution and @institution.contact %>">
</div>
<div class="RegisterInputs">
  <span> Logo URL</span>
  <input type="text" name="institution_logo" value="<%= @institution.logo if @institution %>">
</div>
<div class="RegisterInputs">
  <span> Endereço</span>
  <input type="text" name="institution_address" value="<%= @institution.address if @institution %>">
</div>

<div class="RegisterInputs">
  <span> Descrição</span>
  <textarea name="institution_description"><%= @institution.description if @institution %></textarea>
</div>
