<h2>Segmentos <b class="u-colorRed">*</b></h2>

<div class="BoxSegments">
  <%@segment.each do |segment|%>
  <p class="u-marginXSmall">
    <input type="checkbox" id='<%="segment_#{segment.id}"%>' name="segment_list[]" value="<%=segment.id%>"/>
    <label for='<%="segment_#{segment.id}"%>'><%=segment.name%></label>
  </p>
  <%end%>
</div>
<h2>Competências <b class="u-colorRed">*</b></h2>
<div class="CompanyCompetences">
  <ul class="CompetenceList">
    <% @competence_areas.each do |competence_area| %>
    <li class="Items ItemsArea">
      <div class="ItemText"><h3><%= competence_area.name %></h3></div>
      <div class="ItemStar"><i class="material-icons">keyboard_arrow_down</i></div>
    </li>
    <ul class="SubitemsRegister SubItemsArea" style="justify-content: space-around;">
      <% competence_area.competences.each do |competence| %>
      <li>
        <input type="checkbox" id='<%="competence_#{competence.id}"%>' name="competence_list[]" value="<%=competence.id%>"/>
        <label for='<%="competence_#{competence.id}"%>'><%= competence.name %></label>
      </li>
      <% end %>
    </ul>
    <% end %>
  </ul>

</div>
