<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Conecta</title>
</head>
<body>
  <h1>CENTROS DE PESQUISA</h1>

  <% @research_centers.each do |rc| %>
  <div style="border-bottom: 2px solid black;">
    <b>Nome:</b> <%= rc.name %><br>
    <b>Tipo estrutura:</b> <%= rc.structure_type %><br>
    <b>Projeto:</b> <%= rc.project%> <br>
    <b>Descrição:</b> <%= rc.description%> <br>
    <b>Unidade:</b> <%= rc.unit%> <br>
    <b>Sigla:</b> <%= rc.initials%> <br>

    <b>Area de Pesquisa:</b>
    <% rc.research_areas.each do |a| %>
    <%= a.name %>
    <% end %>
    <br>

    <b>Eixo tematico:</b>
    <% rc.research_fields.each do |f| %>
    <%= f.name %>
    <% end %>
    <br>

    <br><b>Contato:</b><br>



    <b>Nome de Contato:</b>  <%= rc.contact.contact_name %> <br>
    <b>Email:</b>  <%= rc.contact.email %> <br>
    <b>Telefone de Contato:</b>  <%= rc.contact.phone %> <br>
    <b>Site:</b>  <%= rc.contact.site %> <br>

    <br>


  </div>


  <br><br> <% end %>

  <% if @error != [] %>
  <%= @error %>
  <% end %>

</body>
</html>
