<% @institution.each do |rc_searched| %>
<div class="Card">
  <% rating = 0 %>
  <div class="CardNav is-center">
    <h1><%= rc_searched.name %></h1>
  </div>



  <div class="List is-vertical">
    <ul>
      <%
      has_check = false
      has_stars = false
      rc_searched.featured_competences.each_with_index do |rc_searched_competence,index|
        rating = rc_searched_competence.competence_value_calculated_integer
      %>
      <li class="Items is-featured ">
        <div class="ItemText"><%= rc_searched_competence.competence.name %></div>
        <div class="ItemText is-icon">
          <% if rating > 0 %>
            <% has_stars = true %>
            <% for n_of_stars in (1..5) %>
              <i class="material-icons u-colorGold u-widthIcon"><%=n_of_stars <= rating ? "star" : "star_border"%></i>
            <% end %>
          <% else %>
            <% has_check = true %>
            <i class="material-icons u-colorGreen u-widthIcon">check circle</i>
          <% end %>
        </div>
      </li>
      <% end %>
    </ul>
    <% if has_stars %>
    <div class="RatingExplanation u-marginTop">
      <div class="ItemText"><i class="material-icons u-colorGold u-widthIcon">star</i> </div><div class="u-widthMediumLarge">Nível de competência informado pela estrutura de pesquisa</div>
    </div>
    <% end %>
    <% if has_check %>
    <div class="RatingExplanation u-marginTop">
      <div><i class="material-icons u-colorGreen u-widthIcon">check circle</i></div><div class="u-widthMediumLarge">Competência informada pela estrutura de pesquisa  </div>
    </div>
    <% end %>
  </div>




  <div class="FooterCardSecondary">
    <% if(rc_searched.contact) %>
    <div class="FooterCardSecondaryItem">
      <b>Nome de Contato: </b>  <%= rc_searched.contact.contact_name || ""  %> <br>
    </div>
    <div class="FooterCardSecondaryItem">
      <b>  Email: </b>  <a href=mailto:'"<%=@email%>"'><%=rc_searched.contact.email%></a>
    </div>
    <div class="FooterCardSecondaryItem">
      <b>Telefone de Contato: </b>  <%= rc_searched.contact.phone %>
    </div>
    <div class="FooterCardSecondaryItem">
      <%@site_url = rc_searched.contact.site%>
      <b>Site: </b>  <a class="URL" href=<%= @site_url %> target="_blank"> <%= @site_url %></a>
    </div>
    <% end %>
  </div>
  <div class="FooterCardPrimary">

      <div class="Button u-center u-widthMedium  ButtonContact" onclick="showModal('<%="#{rc_searched.id}"%>', '<%="#{rc_searched.name}"%>');" id="<%='ButtonContact'"#{rc_searched.id}"%>">contato</div>
      <div class="Button u-center u-widthMedium ButtonSeeMore">ver mais</div>

  </div>
  <div class="Card is-secondary">
    <div class="CompanyDescription">
      <%= rc_searched.description%>
    </div>
  </div>
  </div>
  <% end %>
