<h1>Empresas</h1>
<% @companies.each do |company| %>
<div class="card">
<b>Nome:</b> <%= company.name %><br>
<b>Tamanho:</b> <%= company.size %><br>
<b>Segmentos:</b> <% company.segments.each do |segment| %>
<%= segment.name + "; " %>
<% end %><br>
<b>Perfil:</b> <% company.company_types.each do |type| %>
<%= type.name + "; " %>
<% end %><br>

<% @company_competences = @competences_by_company[company]%>

<% if @company_competences != nil %>
<ul>
<%   @company_competences.each_key do |competence_area| %>
<li class="itens"><%= competence_area %></li>
<ul class="subitens">
<%  @company_competences[competence_area].each do |comp| %>
  <li><%= comp %></li>
  <% end %>
</ul>

<% end %>
</ul>
<% end %>

</div><br>
<% end %>

<% if @error != [] %>
<%= @error %>
<% end %><br>

<script>
let itens = document.getElementsByClassName('itens');
let subitens = document.getElementsByClassName('subitens');
for(let i = 0; i < itens.length; i++) {
  document.getElementsByClassName('itens')[i].addEventListener("click", function(){
    if(subitens[i].style.display == 'none') {
      subitens[i].style.display = 'block';
    } else {
      subitens[i].style.display = 'none';
    }
  });
}
</script>
