
<h1> ESTRUTURAS DE PESQUISA</h1>
<a href="/" style="float: right; margin-right: 30px; margin-top: -50px; font-size: 24px;">Voltar</a>
<section class="SectionCards">
  <% @research_centers.each do |rc| %>

  <div class="CardCenter">
    <div class="CenterName">
      <h1><%= rc.name %></h1>
    </div>
    <div class="CompanyDescription">
      <h4> <%= rc.project%> </h4>

      <%= rc.description%>
    </div>
    <div class="CenterTheme">
      <div class="ItemTheme">
        <b>Area de Pesquisa:</b>
        <% rc.research_areas.each do |a| %>
        <%= a.name %>
        <% end %>
      </div>
      <div class="ItemTheme">
        <b>Eixo tematico:</b>
        <% rc.research_fields.each do |f| %>
        <%= f.name %>
        <% end %>
      </div>
    </div>

    <div class="CenterTheme">
      <div class="ContactTitle">
        <h3>Contato</h3>
      </div>
    </div>

    <div class="CenterTheme">
      <div class="ItemTheme">
        <b>Nome de Contato: </b>  <%= rc.contact.contact_name %> <br>
      </div>
      <div class="ItemTheme">
        <%@email = rc.contact.email%>
        <b>  Email: </b>  <a href=mailto:'"<%=@email%>"'><%= @email %></a>

      </div>
    </div>
    <div class="CenterTheme">
      <div class="ItemTheme">
        <b>Telefone de Contato: </b>  <%= rc.contact.phone %>
      </div>
      <div class="ItemTheme">
        <%@site_url = rc.contact.site%>
        <b>Site: </b>  <a href=<%= @site_url %> target="_blank"> <%=@site_url %></a>
      </div>
    </div>


  </div>


  <% end %>
</section>
<% if @error != [] %>
<%= @error %>
<% end %>
