<h1>Empresas</h1>
<% @companies.each do |company| %>
<div class="card">
  <b>Nome:</b> <%= company.name %><br>
  <b>Tamanho:</b> <%= company.size %><br>
  <!-- <b>Segmentos:</b> <% company.segments.each do |segment| %>
  <%= segment.name + "; " %>
  <% end %><br> -->
  <!-- <b>Perfil:</b> <% company.company_types.each do |type| %>
  <%= type.name + "; " %>
  <% end %><br> -->
  <b>Capacidades:</b>
  <ul>
    <% company.competences.each do |competence| %>
    <li><%= competence.name %></li>
    <% end %>
  </ul>
</div>
<% end %>

<% if @error != [] %>
  <%= @error %>
<% end %><br>
