
<h1>Resultados Buscados</h1>

<h3> <%if @institution.length == 0%>
  <br>
  Nenhum resultado encontrado
  <% end %>
</h3>
<section class="SectionCards">
  <% if @search_type == 'segmento' or @search_type == 'competencia' or @search_type == 'empresa' %>
  <% @institution.each do |company| %>






  <!-- inicio card -->
  <div class="Card">
    <div class="CardNav">
      <div class="CardLogo">
        <div class="Logo"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/48/Dell_Logo.svg/2000px-Dell_Logo.svg.png" style="widht: 80px; height: 80px"></div>
      </div>
      <div class="CardTitle">
        <h1><%= company.name %></h1>
      </div>
    </div>



    <div class="CompanyCompetences">
      <% @company_competences = company.grouped_competences %>

      <% if @company_competences != nil %>
      <ul class="CompetenceList">

        <%   @company_competences.each_key do |competence_area| %>
        <li class="Items "><div class="ItemText"><%= competence_area %></div><div class="ItemStar"> <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i>
          <i class="material-icons">star_border</i>
          <i class="material-icons">star_border</i></div></li>

          <ul class="Subitems">
            <%  @company_competences[competence_area].each do |competence| %>
            <li><%= competence %></li>
            <% end %>
          </ul>

          <% end %>

        </ul>

        <% end %>
      </div>


      <div class="CompanyDescription">
        Mayra ipsum dolor sit amet, consectetur adipisicing elit.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
        ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
        fugiat nulla pariatur.
      </div>
    </div>
    <!--  fim card -->






    <% end %>

    <% elsif @search_type == 'centro-pesquisa'or @search_type == 'area-pesquisa' or @search_type == 'eixo-pesquisa'%>
    <% @institution.each do |rc_searched| %>

    <!-- INICIO CARD -->

    <div class="CardCenter">
      <div class="CenterName">
        <h1><%= rc_searched.name %></h1>
      </div>
      <div class="CompanyDescription">
        <h4> <%= rc_searched.project%> </h4>

        <%= rc_searched.description%>
      </div>
      <div class="CenterTheme">
        <div class="ItemTheme">
          <b>Area de Pesquisa:</b>
          <% rc_searched.research_areas.each do |a| %>
          <%= a.name %>
          <% end %>
        </div>
        <div class="ItemTheme">
          <b>Eixo tematico:</b>
          <% rc_searched.research_fields.each do |f| %>
          <%= f.name %>
          <% end %>
        </div>
      </div>

      <div class="CenterTheme">
        <div class="ContactTitle">
          <h3>Contato</h3>
        </div>
      </div>
      <% if(rc_searched.contact) %>
      <div class="CenterTheme">
        <div class="ItemTheme">
          <b>Nome de Contato: </b>  <%= rc_searched.contact.contact_name || ""  %> <br>
        </div>
        <div class="ItemTheme">
          <%@email = rc_searched.contact.email%>
          <b>  Email: </b>  <a href=mailto:'"<%=@email%>"'><%= @email %></a>

        </div>
      </div>
      <div class="CenterTheme">
        <div class="ItemTheme">
          <b>Telefone de Contato: </b>  <%= rc_searched.contact.phone %>
        </div>
        <div class="ItemTheme">
          <%@site_url = rc_searched.contact.site%>
          <b>Site: </b>  <a href=<%= @site_url %> target="_blank"> <%=@site_url %></a>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>


    <!-- FIM CARD -->


  </section>

  <% end %>
</div>

</div>
