<h1 class="u-fontFamilyLato u-fontSizeMedium u-marginLeft">Resultados Buscados</h1>

<h3> <%if @institution.length == 0%>
  <br>
  Nenhum resultado encontrado
  <% end %>
</h3>
<section class="SectionCards">
  <% if @search_type == 'segmento' or @search_type == 'competencia' or @search_type == 'empresa' %>
  <% @institution.each do |company| %>
  <!-- inicio card -->
  <div class="Card">
    <div class="CardNav">
        <div class="LogoSmall LogoCard"><img class="LogoImage" src="images/default_company.jpg"></div>
      <div class="CardTitle">
        <h1><%= company.name %></h1>
      </div>
    </div>
    <% if @search_type == 'segmento' %>
    <div class="CompanyCompetences">
      <ul class="CompetenceList">
        <% company.segments.each do |segment| %>
        <% if segment.name.downcase.include? @value %>
        <li class="Items">

          <div class="ItemText"><%= segment.name %><i class="material-icons u-colorGreen">check circle</i></div>

        </li>
        <% end %>
        <%end %>
      </ul>
    </div>
    <% else %>
    <div class="CompanyCompetences">
      <ul class="CompetenceList">

        <% company.featured_competences.each_with_index do |company_competence,index| %>
        <% rating = company_competence.competence_value_calculated_integer  %>
        <li class="ItemsFeatured ">
          <div class="ItemText"><%= company_competence.competence.name %></div>
          <div class="ItemStar">
            <% for pos in (1..5) %>
            <i class="material-icons md-35px u-colorGold"><%=pos <= rating ? "star" : "star_border"%></i>
            <% end %>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
    <div class="RatingExplanation">
      <i class="material-icons md-35px u-colorGold">star</i> Nível de competência informado pela empresa
    </div>
    <% end %>
    <div class="FooterCardSecondary">
      <% if company.contact %>
      <div class="FooterCardSecondaryItem"><b>Contato</b>: <%= company.contact.contact_name %> </div>
      <div class="FooterCardSecondaryItem"><b>Fone</b>: <%= company.contact.phone %></div>
      <div class="FooterCardSecondaryItem"><b>E-mail</b>: <a href='<%= company.contact.email %>'><%= company.contact.email %></a></div>
      <div class="FooterCardSecondaryItem"><b>Site</b>: <a href="<%= company.contact.site %>"><%= company.contact.site %></a></div>
      <% else %>
      <div class="FooterCardSecondaryItem"><b>Local</b>: Prédio 99A, 5 Andar</div>
      <div class="FooterCardSecondaryItem"><b>Fone</b>: (99) 9999-9999</div>
      <div class="FooterCardSecondaryItem"><b>E-mail</b>: <a href="mailto:endereco@email.com">endereco@email.com</a></div>
      <div class="FooterCardSecondaryItem"><b>Site</b>: <a href="http://conectatw.herokuapp.com">http://conectatw.herokuapp.com</a></div>
      <% end %>


    </div>

    <div class="FooterCardPrimay">
      <div class="BoxButtonCard">
        <div class="Button u-widthMedium">
          contato
        </div>
        <div class="Button u-widthMedium ButtonSeeMore">
          ver mais
        </div>
      </div>
    </div>
    <div class="CardSecondary">
      <div class="CompanyDescription">
        Mayra ipsum dolor sit amet, consectetur adipisicing elit.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
        ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
        fugiat nulla pariatur.
      </div>
      <div class="CompanyCompetences">
        <div class="CompetencesTitle">
          Demais competências
        </div>
        <% @company_competences = company.grouped_competences %>

        <% if @company_competences != nil %>
        <ul class="CompetenceList">

          <%   @company_competences.each_key do |competence_area| %>
          <li class="Items ItemsArea"><div class="ItemText"><%= competence_area %></div>
            <div class="ItemStar"><i class="material-icons">keyboard_arrow_down</i></div>
          </li>

          <ul class="Subitems SubItemsArea" style="justify-content: space-around;">
            <%  @company_competences[competence_area].each do |competence| %>
            <li><%= competence %></li>
            <% end %>
          </ul>

          <% end %>

        </ul>

        <% end %>
      </div>
    </div>
  </div>
  <!--  fim card -->






  <% end %>

  <% elsif @search_type == 'centro-pesquisa'or @search_type == 'area-pesquisa' or @search_type == 'eixo-pesquisa'%>
  <% @institution.each do |rc_searched| %>

  <!-- INICIO CARD -->

  <div class="Card">
    <div class="CardResearchNav">
      <h1><%= rc_searched.name %></h1>
    </div>

    <div class="ResearchCompetences">
      <div class="ItemTheme">
        <b>Area de Pesquisa:</b>
        <% rc_searched.research_areas.each do |a| %>
        <%= a.name %>
        <% end %>
      </div>
      <div class="ItemTheme">
        <b>Eixo tematico:</b>
        <% rc_searched.research_fields.each do |f| %>
        <%= f.name %>
        <% end %>
      </div>
    </div>

    <div class="FooterCardSecondary">

      <% if(rc_searched.contact) %>
      <div class="FooterCardSecondaryItem">
        <b>Nome de Contato: </b>  <%= rc_searched.contact.contact_name || ""  %> <br>
      </div>
      <div class="FooterCardSecondaryItem">
        <b>  Email: </b>  <a href=mailto:'"<%=@email%>"'><%=rc_searched.contact.email%></a>
      </div>
      <div class="FooterCardSecondaryItem">
        <b>Telefone de Contato: </b>  <%= rc_searched.contact.phone %>
      </div>
      <div class="FooterCardSecondaryItem">
        <%@site_url = rc_searched.contact.site%>
        <b>Site: </b>  <a class="URL" href=<%= @site_url %> target="_blank"> <%= @site_url %></a>
      </div>


    </div>



    <% end %>
    <!-- TEM QUE POR NO VER MAIS -->

    <div class="FooterCardPrimay">
      <div class="BoxButtonCard">
        <div class="Button u-widthMedium">
          contato
        </div>
        <div class="Button u-widthMedium ButtonSeeMore">
          ver mais
        </div>
      </div>
    </div>
    <div class="CardSecondary">

      <div class="CompanyDescription">
        <%= rc_searched.description%>
      </div>
    </div>

  </div>
</div>
<% end %>


<!-- FIM CARD -->


</section>

<% end %>
</div>

</div>
<script src="js/break_links.js"></script>
